<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8Q76dufzNhpHALO3bxZYjp8dYSADgTac</string>
	<key>GCM_SENDER_ID</key>
	<string>219186194521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khip01.app.commentSection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>khip01-comment-section</string>
	<key>STORAGE_BUCKET</key>
	<string>khip01-comment-section.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219186194521:ios:ef9d738b881f70a09ae948</string>
</dict>
</plist>